<div class="row post-row">
  <div class='panel panel-primary col-lg-6' id="post_<%= post.id %>">
    <div class="panel-heading panel-heading-colour row">
      <p class='col-md-6 h4'> Title: <%= best_in_place post, :title %> </p>
      <p class='col-md-offset-2 col-md-4 text-right h4'> <%= post.user.full_name %> </p>
    </div>
    <div class="panel-body">
      <p class='row col-md-12'> <%= best_in_place post, :body %> </p>
      <p class="image-medium image-responsive"> <%= image_tag post.images.first.url %> </p>
      <div class="row row-bordered">
        <div class="col-md-1">
          <%= link_to post do %>
              <i class='fa fa-search fa-lg'></i>
          <% end %>
        </div>
          <% if can_edit? post %>
            <div class="col-md-1">
              <%= link_to edit_post_path(post) do %>
                <i class='fa fa-edit fa-lg'></i>
              <% end %>
            </div>
            <div class="col-md-1">
              <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
                <i class='fa fa-close fa-lg'></i>
              <% end %>
            </div>
          <% end %>
        <div class="col-md-offset-2 col-md-2">
          <%= social_share_button_tag(post.title) %>
        </div>
          <div class="col-md-offset-1 col-md-4">
            Posted at: <%= post.published_at.strftime('%B %d, %Y') %>
        </div>
      </div>
    </div>
  </div>
</div>
